<div id="login-view" style="display: none;">
    <div class="login-content">
        <div class="login-head">
            <h1 class="title">Choisissez la platform où vous voulez vous connectez !</h1>
            <hr>
        </div>
        <div class="login-body">
            <a class="link-login" id="login-mojang">Connexion à Mojang</a>
            <a class="link-login" id="login-microsoft">Connexion à Microsoft</a>
        </div>
    </div>

    <script src="./assets/js/scripts/login.js"></script>
</div>