<div id="login-view" style="display: none;">
    <div class="login-content">
        <div class="login-head">
            <h1 class="title">Connectez vous chez :</h1>
        </div>
    <a class="link-login" id="login-view-microsoft-button">Microsoft</a>
    <a class="link-login" id="login-view-mojang-button">Mojang</a>
    </div>
</div>