<div id="settings-view" style="display: none;">
    <div class="settings-panel-left">
        <div class="settings-container-nav">
            <div class="nav-items-container">
                <div class="group">
                    <p class="title">Version Launcher</p>
                    <button class="item settingsTab" id="settings-version-launcher-panel-button">Version Launcher</button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="settings-panel-right">
        
    </div>
    <script src="./assets/js/scripts/settings.js"></script>
</div>