<div class="settings-container" id="settings-version-launcher-panel" style="display: none;">
    <h1 id="title">Version Launcher</h1>
    <div class="version-info-container">
        <div class="version-container">
            <div class="group">
                <p class="group-name">La Version actuel du launcher est : </p><p class="group-value" id="version-launcher-value"> 0.0.0</p>
                <button class="group-btn">Chercher La Version Rèçentes</button>
            </div>
        </div>
    </div>
</div>
<script src="./assets/js/scripts/settings/launcher-version.js"></script>