<div class="settings-container" id="settings-version-launcher-panel" style="display: none;">
    <h1 id="title">Version Launcher</h1>
    <div class="version-info-container">
        <div class="version-container">
            <div class="group">
                <p class="group-name">La Version actuel du launcher est : </p><p class="group-value" id="version-launcher-value"> 0.0.0</p>
                <button class="group-btn" id="actuel-version-launcher">Chercher La Version Rèçentes</button>
                <p class="group-name" style="visibility: hidden;" id="version-actuel">Le Launcher est à jour !</p>
                <p class="group-name" style="visibility: hidden;" id="version-none-actuel">Le Launcher n'est plus à jour !</p>
            </div>
        </div>
    </div>
</div>
<script src="./assets/js/scripts/settings/launcher-version.js"></script>