<div id="launcher-home-panel" style="display: none;">
    <div class="header-banner" style="background-image: url(assets/images/launcher/background.png);">
        <div class="shadow"></div>
    </div>

    <div class="header-banner-content">
        <div class="container">
            <div class="banner-header">
                <div class="box-social">
                    <a href="https://discord.gg/BBspwCWeEj" class="btn-social"><i class="fab fa-discord"></i></a>
                </div>
            </div>
            
            <div class="banner-body">
                <div class="banner-body-content">
                    <div class="block-play">
                        <div class="button-group">
                            <a class="btn" id="launcher-home-play-button">Jouer</a>
                            <a class="btn" id="launcher-home-options-button">Options</a>
                        </div>
                    </div>
                    <div class="block-container announcement">
                        <div class="announcement-header">
                            
                        </div>
                    </div>
                </div>
    
                <div class="banner-body-sidebar">
                    <div class="block-container servers-status">
                        <div class="block-title">
                            États des serveurs
                            <em id="server-total-players">0<i class="offline"></i></em>
                        </div>
                        <div class="block-body">
                            <div class="server">
                                <div class="server-icon"></div>
                                <div class="server-text">
                                    <span class="big">Uranium</span>
                                    <span class="small">
                                        <b id="server-uranium-players">0</b> Joueurs connectés - <em id="server-paladium-latency">0</em>ms
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../app/assets/js/scripts/launcher/home.js"></script>
</div>