<div id="launcher-home-panel" style="display: none;">
    <div class="header-banner" style="background-image: url(assets/images/launcher/background.png);">
        <div class="shadow"></div>
    </div>

    <div class="header-banner-content">
        <div class="container">
            <div class="banner-header">
                <div class="box-social">
                    <a href="https://discord.gg/BBspwCWeEj" class="btn-social"><i class="fab fa-discord"></i></a>
                </div>
            </div>
            
            <div class="banner-body">
                <div class="banner-body-content">
                    <div class="block-play">
                        <div class="button-group">
                            <a class="btn" id="launcher-home-play-button">Jouer</a>
                            <a class="btn" id="launcher-home-options-button">Options</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./assets/js/scripts/launcher/home.js"></script>
</div>