<div id="launcher-home-panel" style="display: none;">
    <div class="header-banner" style="background-image: url(assets/images/launcher/background.png);">
        <div class="shadow"></div>
    </div>

    <div class="header-banner-content">
        <div class="container">
            <div class="banner-body-sidebar">
                <div class="block-container servers-status">
                    <div class="block-title">
                        États des serveurs
                        <em id="server-total-players">0<i class="offline"></i></em>
                    </div>
                    <div class="block-body">
                        <div class="server">
                            <div class="server-icon"></div>
                            <div class="server-text">
                                <span class="big">Uranium</span>
                                <span class="small">
                                    <b id="server-uranium-players">0</b> Joueurs connectés - <em id="server-uranium-latency">0</em>ms
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partner-sidebar block-container">
                <div class="block-title">
                    Partenaire
                </div>
                <div class="block-body">
                    <div class="partner">
                        <img src="./assets/images/partner/oerthyon.png" class="icon-partner">Oerthyon
                    </div>
                    <div class="btn-link-partner">
                        <a href="https://discord.gg/XrcJbAbwVq" class="btn-social"><i class="fab fa-discord fa-2x"></i></a>
                        <a href="https://oerthyon.fr/" class="btn-social"><i class="fas fa-globe-americas fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div id="launcher-home-panel">
                <center>
                    <div class="right-panel-home" id="panel-control-home">
                        <div id="panel-control-home-content">
                            <a id="ico-user-home-panel" class="ico-player-home-a"><img src="./assets/images/steve.png" class="ico-player-home"></img></a>
                            <p class="player-name"></p>
                            <i class="fas fa-cog icon-link-panel-home fa-2x" id="launcher-home-options-button"></i><br />
                            <a href="https://discord.gg/BBspwCWeEj"><i class="fab fa-discord icon-link-panel-home fa-2x"></i></a>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>

    <script src="./assets/js/scripts/launcher/home.js"></script>
</div>